@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>EDIT:</h1>

<h4>Edit this Machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  <div class="inputspacing">
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Name, "Name:" , new { @class="customLabel"})
  @Html.TextBoxFor(model => model.Name)
  
  @Html.LabelFor(model => model.Description, "Description:" , new { @class="customLabel"})
  @Html.EditorFor(model => model.Description)
  
  @* <input class = "saveicon" type="image" img src="https://raw.githubusercontent.com/GarrettHays/images/main/noun-save-5040600.png" style="width:20px;"> <a href="@Url.Action("Delete", "Machines",  new { id = Model.MachineId })"><img class = "trashicon" src="https://raw.githubusercontent.com/GarrettHays/images/main/noun-trash-can-2342129.png" style="width:20px;"></a> *@
  </div>
}
<p>@Html.ActionLink("Back to Machines", "Index", null, null, new { @class="htmlButton"})</p>