@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Engineer info:</h1>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Engineer is not assigned to any machines. Click "Assign engineer" to assign this engineer to a machine.</p>
  <hr/>
  @Html.ActionLink("Edit Engineer", "Edit", null, new { id = Model.EngineerId }, new { @class="htmlButton"}) 
  @Html.ActionLink("Delete Engineer", "Delete", null, new { id = Model.EngineerId }, new { @class="htmlButton"})
}


else
{
  <h4>Machines this engineer is certified for:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.Name</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete" />
    }
    @Html.ActionLink("Edit Engineer", "Edit", null, new { id = Model.EngineerId }, new { @class="htmlButton"}) 
    @Html.ActionLink("Assign Engineer", "AddMachine", null, new { id = Model.EngineerId }, new { @class="htmlButton"})
  }
  </ul>
}