@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>EDIT:</h1>

<h4>Edit this Engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  <div class="inputspacing">
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name, "Name:" , new { @class="customLabel"})
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Description, "Description:" , new { @class="customLabel"})
  @Html.EditorFor(model => model.Description)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  </div>
  <div id="buttonplace">
    <input type="submit" value="Save" class="htmlButton" />
    <input type="submit" value="Delete" class="htmlButton"/>
  </div>
  
}
